/target
**/*.rs.bk
Cargo.lock
.idea
.vscode
*.iml
*.fpkg
assets/examples/cpp/main
assets/examples/cpp/output.fpkg
assets/examples/python/output.fpkg
*.bag

# In-Memoria
.in-memoria/
in-memoria.db
in-memoria-vectors.db/

